html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden /*Disable scrolling*/    
}



canvas {
    /*old
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;

    image-rendering: optimizeSpeed;
    image-rendering: -o-crisp-edges;

    -ms-interpolation-mode: nearest-neighbor;*/

    /*trying new*/
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    position: absolute; /*comment out*/
    user-select: false;
    -webkit-touch-callout: none;
    
    /*vertical-align: middle;*/
    background-color: black;
    /*padding: 0;*/
    /*display: block; put this back if needed*/
    /*margin: auto; just commented out*//*this used to be 0 auto*/

    /*cursor: none;*/

}

@font-face {
    font-family: 'ChiKareGo2';
    src: url('/fonts/ChiKareGo2.ttf');
}

/*.holder {
    margin-top: 100;
}*/